/*Laoding Spinner*/
#index-header .load-shade {
	min-height: 100%;
	min-width: 100%;
	width: 100%;
	height: auto;
	position: fixed;
	background-color: #000;
	top: 0;
	left: 0;
	text-align: center;
	display: table;
	z-index: 1000;
}

#index-header .load-shade .spin-wrapper {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
#index-header .load-shade .spin-wrapper i.fa {
	color: #222;
	font-size: 50px;
}

#index-header .header-jumbotron {
	width: 100%;
	height: 700px;
	background-position:50% 50%;
    background-size: cover;
}

#index-header #main-nav.nav {
	background: transparent;
	position: absolute;
	top: 0;
}

#index-header #main-nav.nav .nav-title {
	display: none;
}

#index-header #main-nav.nav .nav-list .nav-item a{
	color: #666;
	line-height: 56px;
	font-family: 'Oswald-ExtraLight', Helvetica, Arial, sans-serif;
}
#index-header #main-nav.nav .nav-list .nav-item a:hover {
	color: #fff;
}

#index-header #main-nav.nav .nav-list .nav-item .dropdown-content {
	display: none;
	position: absolute;
	top: 33px;
	left: 0;
	background-color: rgba(0,0,0,0.1);
}

#index-header #main-nav.nav .nav-list .nav-item .dropdown-content a { 
	color: #666;
	line-height: 33px;
	border: none;
}
#index-header #main-nav.nav .nav-list .nav-item .dropdown-content a:hover {
	color: #fff;
}


/*------- COMPANY INFO ----------*/
/*-------------------------------*/
#company-information {
	background-position:50% 50%;
    background-size: cover;
    max-height: 726px;
}
#company-information .section-headline {
	margin-bottom: 30px;
	color: #8e0101;
}

#company-information .company-tagline {
	width: 66%;
	margin: 150px 0;
	float: left;
	display: inline-block;
}

#company-information .company-tagline .section-textblock {
	text-align: center;
	width: 80%;
	font-size: 18px;
	line-height: 32px;
	margin: 0 auto;
}

#company-information .home-contact-form {
	width: 32%;
	margin: 0 1%;
	padding: 0 10px;
	float: right;
	background-color: rgba(255,255,255,0.8);
	border-radius: 5px;
}

#company-information .home-contact-form h4 {
	text-align: center;
	margin: 10px;
	font-size: 32px;
}
#company-information .home-contact-form .form-group {
	margin-bottom: 0;
}

#company-information .home-contact-form .half-width {
	width: 50%;
	float: left;
}

#company-information .home-contact-form .half-width:nth-child(odd) {
	padding-right: 5px;
}

#company-information .home-contact-form .half-width:nth-child(even) {
	padding-left: 5px;
}

#company-information .home-contact-form textarea {
	resize: none;
}

#company-information .home-contact-form .btn {
	width: 100px;
}

.home-contact-form .wpcf7-response-output {
	border: none;
	clear: both;
	margin: 0 5px 15px 5px;
	padding: 0;
	font-size: 12px;
	text-align: center;
}
.home-contact-form .wpcf7-validation-errors {
	color: red;
}
.home-contact-form .wpcf7-not-valid-tip {
	position: absolute;
	width: 200px;
}

/*----------- SERVICES ----------*/
/*-------------------------------*/

#company-services {
	text-align: center;
}

#company-services .services-row {
	padding: 0 50px;
}
#company-services .services-row:nth-child(2) {
	margin-bottom: 50px;
}

#company-services .service-item img {
	margin-bottom: 10px;
	height: 75px;
	width: 75px;
}

#company-services .service-item .service-headline {
	font-size: 24px;
	margin-bottom: 20px;
}

#company-services .service-item .section-textblock {
	text-align: center;
	width: 200px;
	margin: 0 auto;
}



/*----- CASE STUDY PREVIEWS -----*/
/*-------------------------------*/

#case-study-previews h3 {
	margin-bottom: 50px;
}

#case-study-previews .studies-preview-list {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

#case-study-previews .case-study-preview {
	display: inline-block;
	position: relative;
	width: 300px;
	height: 500px;
	margin: 0 25px 50px 25px;
	background-color: #fff;
	border-radius: 5px;
	-webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.5);
	   -moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.5);
		    box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.5);
}

#case-study-previews .case-study-preview .case-preview-img {
	width:  300px;
	height: 320px;
	margin-bottom: 10px; 
	border-radius: 5px 5px 0 0;
    background-position: 50% 50%;
    background-size: cover;
}

#case-study-previews .case-study-preview h4 {
	position: absolute;
	display: inline-block;
	width: 100%;
    top: 266px;
    text-align: left;
    left: 0;
    padding: 5px 10px;
	font-size: 40px;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
}

#case-study-previews .case-study-preview p {
	text-align: center;
	width: 100%;
	height: 110px;
	padding: 15px;
	font-size: 16px;
	line-height: 22px;
	margin: 0;
}


/*------- SOCIAL PREVIEWS -------*/
/*-------------------------------*/

#social-preview {
	
}

/* BLOG PREVIEW */

#blog-preview {
	width: 70%;
	margin: 0;
	padding: 0 1% 0 2%;
	float: left;
	display: inline-block;
	border-right: 1px solid #E6E6E6;
}

#blog-preview .post-preview {
    width: 32%;
    margin: 0 0 20px 0;
    display: inline-block;
    float: left;
    overflow: hidden;
}

#blog-preview .post-preview:nth-child(3),
#blog-preview .post-preview:nth-child(6) {
	margin: 0 2% 20px 2%;
}

#blog-preview .article-preview-image {
    height: 200px;
    background-position:50% 50%;
    background-size: cover;
}

#blog-preview .article-preview-body {
    height: 150px;
    width: 100%;
    display: inline-block;
    vertical-align: top;

}

#blog-preview .article-preview-body .article-preview-headline {
	font-size: 20px;
	line-height: 18px;
    margin: 5px 0px;
}

#blog-preview .article-preview-body .date {
	margin: 0 0 10px 0;
	color: #999;
}

#blog-preview .preview-text {
    margin: 5px 25px 0 0;
    font-size: 12px;
    line-height: 12px;
}

#blog-preview .view-article{
	text-decoration: underline;
}

/* IG PREVIEW */

#ig-preview {
	width: 30%;
	padding: 0 2% 0 1%;
	display: inline-block;	
}

#ig-preview .section-headline {
	margin-bottom: 28px;
	font-family: 'Oswald-ExtraLight'
}

#ig-preview .wdi_pagination * {
	font-size: 15px;
}

/*------- NEWSLETTER ------------*/
/*-------------------------------*/

#newsletter-form .form-inline {
	text-align: center;
}

#newsletter-form .form-group {
	display: inline-block;
	padding: 10px;
	border-radius: 5px;
	margin: 0 auto;
	background-color: rgba(50,50,50,0.1);
}

#newsletter-form .form-inline input {
	width: 300px;
	height: 34px;
	margin-right: 10px;
}

#newsletter-form .form-inline .btn {
	width: 72px;
	background-color: #8e0101;
	color: #fff;
}

#newsletter-form #signup_success {
	margin-bottom: 64px;
	display: none;
}
